.container-tabel {
    overflow-x: auto;
    display: flex;
    flex-direction: column;

    .wrapper-tabel {
        width: fit-content;

        .tabel-laporan {
            width: fit-content;
            border-collapse: separate;
            overflow: hidden;
            border-spacing: 0;
            border-radius: 12px;

            .header-tabel {
                background-color: rgb(229, 233, 232, 0.50);

                th {
                    font-weight: normal;
                    padding: 16px 30px;
                    text-align: left;
                    color: #404752;
                }


            }

            .baris-tabel {


                td {
                    font-weight: normal;
                    padding: 16px 30px;
                    text-align: left;
                    border-bottom: 1px solid #E5E9E8;
                }

                .kolom-id {
                    font-weight: 600;
                    color: #0D9488;
                }

                .kolom-nama p:first-child {
                    font-weight: 600;
                }

                .kolom-nama p:last-child {
                    font-size: 11px;
                    color: #404752;

                }

                .kolom-lokasi div {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }

                .kolom-furniture p {
                    font-size: 12px;
                    width: fit-content;
                    height: fit-content;
                    padding: 4px 12px;
                    border-radius: 6px;
                    font-weight: 600;
                    color: #0D9488;
                    background-color: rgba(13, 150, 139, 0.10);
                }

                .kolom-status {

                    p {
                        font-size: 12px;
                        width: fit-content;
                        height: fit-content;
                        padding: 4px 10px;
                        border-radius: 14px;
                        font-weight: 600;
                    }

                    .selesai {
                        color: white;
                        background-color: #0D9488;
                    }

                    .ditolak {
                        color: white;
                        background-color: #FB2C36;
                    }

                    .pending {
                        color: #404752;
                        background-color: #DFE3E2;
                    }

                    .diproses {
                        color: #1D4ED8;
                        background-color: #DBEAFE;
                    }

                    .diverifikasi {
                        color: #BB4D00;
                        background-color: #FFEDD5;
                    }
                }

                .kolom-aksi a {
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    height: fit-content;
                    width: fit-content;
                    border-radius: 8px;
                    color: white;
                    background-color: #0D9488;
                    padding: 10px;
                    transition:
                        color 0.3s ease,
                        background-color 0.3s ease,
                        transform 0.3s ease;

                    &:hover {
                        background-color: white;
                        color: #0D9488;
                        box-shadow: inset 0 0 0 2px #0D9488;

                    }
                }
            }
        }

        .footer-tabel {
            width: 100%;
            padding: 16px 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: rgb(229, 233, 232, 0.30);


            div:first-child {
                display: flex;
                align-items: center;
                gap: 10px;

                select {
                    padding: 4px 10px;
                    border: 1px solid #0D9488;
                    border-radius: 4px;
                    background-color: white;
                }

                p {
                    font-size: 14px;
                    color: 404752;
                }
            }

            div:last-child {
                display: flex;
                gap: 10px;

                a {
                    background-color: white;
                    border-radius: 8px;
                    padding: 6px 12px;
                    font-size: 12px;
                    font-weight: 600;
                    text-decoration: none;
                    color: #181C1C;
                    font-size: 14px;
                    color: 404752;
                }

                a.active {
                    background-color: #0D9488;
                    color: white;
                }
            }
        }
    }
    @media(min-width:1024px) {
    
            .wrapper-tabel {
                width: 100%;
    
                .tabel-laporan {
                    width: 100%;
                }
            }
    }

}
