/* ini reset nilai default hiraukan */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    width: 100%;
    display: flex;
}

/* style sidebar */
.sidebar {
    position: absolute;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    transition: left 0.4s ease-in-out;

    .sidebar-content {
        display: flex;
        align-items: center;
        flex: 1;
        flex-direction: column;
        width: 100%;
        padding: 40px 16px;

        .logo-container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .close-menu {
                display: flex;
                border: none;
                background-color: transparent;
                cursor: pointer;
                color: #0D9488;
                transition: color 0.3s ease, background-color 0.3s ease;
            }
        }

        .logo {
            margin-top: 20px;
            margin-bottom: 20px;
            width: 175px;
            height: 48px;
            background-position: center;
            background-size: cover;
            background: url('../../assets/logo.svg');
        }

        .nav-item {
            list-style: none;
            width: 100%;
            padding: 0 8px;

            .nav-link {
                padding: 12px 16px;
                font-size: 14px;
                transition: background-color 0.3s ease;
                border-radius: 4px;
            }

            .nav-link:hover {
                background-color: #ECFDF5;
            }

            .nav-link a {
                display: flex;
                align-items: center;
                gap: 12px;
                color: #707071;
                font-weight: 600;
                font-size: 14px;
                text-decoration: none;
            }

            .nav-link:hover a {
                color: #0D9488;

            }

            .active {
                background-color: #ECFDF5;
            }

            .active a {
                color: #0D9488;
            }
        }
    }

    .sidebar-footer {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 8px;

        a {
            width: 100%;
            display: flex;
            gap: 12px;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: #707071;
            padding: 12px 16px;
            border-radius: 4px;
            transition: background-color 0.3s ease;
        }

        a:hover {
            color: #0D9488;
            background-color: #ECFDF5;
        }
    }
}

.sidebar.open {
    left: 0;
}


@media(min-width:1024px) {
    .sidebar {
        position: unset;
        width: 250px;

        .sidebar-content {
            padding: 0;

            .logo-container {
                justify-content: center;

                .close-menu {
                    display: none;
                }
            }

            .sidebar-footer a {
                justify-content: start;
            }
        }
    }
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* style header */
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 21px;
    background-color: white;

    .icon-button {
        display: flex;
        gap: 10px;

        .menu-button {
            display: flex;
            background: transparent;
            cursor: pointer;
            border: none;
            color: #707071;

        }

        a {
            text-decoration: none;
            color: #707071;
            display: flex;
            align-items: center;
        }

        a:first-of-type:hover {
            color: #0D9488;
        }
    }



    a:last-of-type {
        display: flex;
        align-items: center;
        gap: 10px;
        text-align: right;
        text-decoration: none;
        color: #707071;
        font-size: 12px;

        p:first-of-type {
            color: black;
            font-weight: 600;
        }

        img {
            width: 42px;
            height: 42px;
            border-radius: 100%;
        }
    }
}

@media(min-width:1024px) {
    nav {
        justify-content: end;

        .icon-button {
            .menu-button {
                display: none;
            }
        }
    }
}

main {
    padding: 32px;
    flex: 1;
    box-shadow: inset 0px 4px 0px rgba(0, 0, 0, 0.05);
}


@media(min-width:1024px) {
    main {
        box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.05);
    }
}