* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

main{
    width: 100%;
    flex: 1;
    padding: 70px ;
    /* background-color: black; */
}

/* style navbar */
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background-color: white;
}

#siporma-logo {
    background-image: url('../../assets/siporma-logo.svg');
    width: 250px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.navMenu {
    display: flex;
    gap: 10px;
    list-style: none;
}

.navMenu li a {
    text-decoration: none;
    padding: 1px 0px;
    font-weight: 600;
    color: #707071;
}

.navMenu .active {
    color: #0D9488;
    border-bottom: 3px solid #0D9488;
}

nav .action-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav .action-buttons a {
    text-decoration: none;
    padding: 10px 10px;
    color: #0D9488;
    font-weight: 600;
    display: flex;
    align-items: center;
    background-color: white;
}

nav .action-buttons a:nth-last-child(1) {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #0D9488;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

/* style footer */
footer {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 60px 40px ;
    gap: 70px;
    background-image: url("../../assets/bg-footer.svg");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-brand {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-brand P:nth-child(1) {
    color: #0A6F66;
    font-weight: 700;
    font-size: 20px;
}

.footer-brand P:nth-child(2) {
    width: 470px;
    color: #3F4945;
    font-size: 12px;
}

.footer-links {
    display: flex;
    text-transform: uppercase;
    gap: 32px;
    font-size: 12px;
    color: #3F4945;
}

.footer-links div {
    display: flex;
    flex-direction: column;
    gap: 10px;
} 

.footer-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.footer-actions a {
    background-color: #E5E9E8;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E9E8;
    border-radius: 12px;
    height: 40px;
    width: 40px;
}