* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#siporma-logo {
    background-image: url('../../../assets/siporma-logo.svg');
    width: 250px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.navMenu {
    display: flex;
    gap: 10px;
    list-style: none;
}

.navMenu li a {
    text-decoration: none;
    padding: 1px 0px;
    font-weight: 600;
    color: #707071;
}

.navMenu .active {
    color: #0D9488;
    border-bottom: 3px solid #0D9488;
}

nav .action-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav .action-buttons a {
    text-decoration: none;
    padding: 10px 10px;
    color: #0D9488;
    font-weight: 600;
    display: flex;
    align-items: center;
    background-color: white;
}

nav .action-buttons a:nth-last-child(1) {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #0D9488;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.main-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 20px;
    background-color: #f8fafc;
}

.main-container .form-container {
    width: 800px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 44px;
}

.form-container .title-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 100%;

    h1 {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        color: #181c1c;
    }

    p {
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        color: #3f4945;
    }
}

.form-container .reporting-form {
    display: flex;
    flex-direction: column;
    padding: 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;

    background-color: #fff;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05);
}

.reporting-form .form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;

    .input-field-row {
        display: flex;
        flex-direction: row;
        gap: 24px;
        width: 100%;

        .input-field {
            flex: 1;
        }
    }

    .input-field {
        display: flex;
        flex-direction: column;
        gap: 8px;

        label {
            font-size: 13px;
            font-weight: 600;
            line-height: 20px;
            color: #3f4945;
            text-transform: uppercase;
            font-family: "Poppins", sans-serif;
        }

        .input-wrapper {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;

            .icon-left {
                position: absolute;
                left: 16px;
                width: 20px;
                height: 20px;
                pointer-events: none;
                color: #6f7975;
            }

            .icon-right {
                position: absolute;
                right: 16px;
                width: 22px;
                height: 22px;
                color: #6f7975;
                pointer-events: none;
            }

            input,
            select,
            textarea {
                width: 100%;
                padding: 16px 20px;
                font-family: "Poppins", sans-serif;
                font-size: 13px;
                font-weight: 500;
                background-color: #f6f6f8;
                border: none;
                border-radius: 8px;
                -webkit-border-radius: 8px;
                -moz-border-radius: 8px;
                -ms-border-radius: 8px;
                -o-border-radius: 8px;

                &::placeholder {
                    font-family: "Poppins", sans-serif;
                    color: #717586;
                    font-size: 13px;
                    opacity: 1;
                }

                &:focus {
                    outline: none;
                    border: #0d9488 2px solid;
                }
            }

            &.has-icon input,
            &.has-icon select {
                padding-left: 48px;
            }

            select {
                appearance: none;
                -webkit-appearance: none;
                cursor: pointer;
                padding-right: 48px;
            }

            textarea {
                resize: vertical;
                min-height: 120px;
                line-height: 1.6;
            }

            select option {
                color: #181c1c;
            }

        }

    }

    .upload-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 40px 20px;
        gap: 16px;
        width: 100%;

        border: 2px dashed #BABCBD;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;


        background-color: #FAFAFA;
        cursor: pointer;
        text-align: center;

        &:hover {
            border-color: #0D9488;
            background-color: rgba(13, 148, 136, 0.05);
        }

        .upload-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 48px;
            background-color: rgba(13, 148, 136, 0.1);
            border-radius: 8px;
        }

        .upload-description {
            display: flex;
            flex-direction: column;
            gap: 4px;
            font-family: "Poppins", sans-serif;
            text-transform: capitalize;

            .main-text {
                font-size: 14px;
                font-weight: 600;
                color: #181c1c;
            }

            .sub-text {
                font-size: 12px;
                font-weight: 500;
                color: #717586;
            }
        }
    }

    .context-info {
        display: flex;
        padding: 16px;
        gap: 10px;
        align-items: flex-start;
        border-radius: 8px;
        border: 1px solid rgba(7, 102, 86, 0.1);
        background: rgba(7, 102, 86, 0.05);
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;

        .icon-left {
            width: 24px;
            height: 24px;
            color: #0a6f66;
            margin-top: 1px;
        }

        p {
            font-family: "Poppins", sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            color: #0a6f66;
        }
    }

    .submission-action {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 24px;
        margin-top: 8px;
        border-top: 1px solid #eaeaed;
        width: 100%;

        .verification {
            display: flex;
            align-items: center;
            gap: 12px;

            .icon-left {
                width: 24px;
                height: 24px;
                color: #0a6f66;
            }

            p {
                font-family: "Poppins", sans-serif;
                font-size: 12px;
                font-weight: 400;
                line-height: 16px;
                color: #3f4945;
            }
        }

        .button-action {
            display: flex;
            align-items: center;
            gap: 16px;

            button {
                padding: 12px 32px;
                font-family: "Poppins", sans-serif;
                font-size: 14px;
                font-weight: 700;
                border-radius: 8px;
                cursor: pointer;
                transition: all 0.2s;
            }

            .cancel {
                background: transparent;
                border: none;
                color: #3f4945;
                transition: all;

                &:hover {
                    border: 2px solid #0C857A;
                }

                &:active {
                    border: 2px solid #0A766D;
                }
            }

            .send-report {
                background: #0d9488;
                border: none;
                color: #fff;

                &:hover {
                    background-color: #0c857a;
                }

                &:active {
                    background-color: #0a766d;
                }
            }
        }
    }
}

.form-container .information-hint {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 16px;
    width: 100%;

    .progress-hint {
        flex: 1;
        display: flex;
        padding: 20px;
        align-items: flex-start;
        gap: 16px;
        background: #F0F4F3;

        border: none;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;

        .icon {
            padding: 8px;
            border: none;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
            background: rgba(0, 76, 63, 0.10)
        }

        .title-hint {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;

            h5 {
                font-family: "Poppins", sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 20px;
                color: #0D9488;
            }

            p {
                font-family: "Poppins", sans-serif;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 16px;
                color: #3F4945;
            }

        }
    }

}

@media (max-width: 768px) {
    .form-container .information-hint {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .main-container {
        padding: 40px 16px;
    }

    .main-container .form-container {
        gap: 24px;
    }

    .form-container .title-form h1 {
        font-size: 26px;
        line-height: 32px;
    }

    .form-container .title-form p {
        font-size: 14px;
    }

    .form-container .reporting-form {
        padding: 20px;
    }

    .reporting-form .form .input-field-row {
        flex-direction: column;
        gap: 20px;
    }

    .reporting-form .form .upload-area {
        padding: 24px 16px;
    }

    .reporting-form .form .upload-area .upload-description .main-text {
        font-size: 13px;
    }

    .reporting-form .form .upload-area .upload-description .sub-text {
        font-size: 11px;
    }

    .reporting-form .form .submission-action {
        flex-direction: column;
        align-items: stretch;
        gap: 20px;
    }

    .reporting-form .form .submission-action .verification {
        justify-content: center;
    }

    .reporting-form .form .submission-action .button-action {
        width: 100%;
        display: flex;
        gap: 12px;
        justify-content: space-between;
    }

    .reporting-form .form .submission-action .button-action button {
        flex: 1;
        padding: 12px 16px;
        font-size: 13px;
    }
}

/* style footer */
footer {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 60px 40px;
    gap: 70px;
    background-image: url("../../../assets/bg-footer.svg");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-brand {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-brand P:nth-child(1) {
    color: #0A6F66;
    font-weight: 700;
    font-size: 20px;
}

.footer-brand P:nth-child(2) {
    width: 470px;
    color: #3F4945;
    font-size: 12px;
}

.footer-links {
    display: flex;
    text-transform: uppercase;
    gap: 32px;
    font-size: 12px;
    color: #3F4945;

}

.footer-links div {
    display: flex;
    flex-direction: column;
    gap: 10px;

    a {
        text-decoration: none;
        color: #3F4945;
    }
}

.footer-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.footer-actions a {
    background-color: #E5E9E8;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E9E8;
    border-radius: 12px;
    height: 40px;
    width: 40px;
}